.btn-danger{
    background-color: rgb(10, 175,181);
}

.btn-danger:hover{
    background-color:rgb(100,125,210);
    
}

.col{
    background-color:grey;
    border: 2px solid blue;

}

.col:hover{
    background-color:skyblue;
    border: 2px solid black;
}
body{
    background-image: url(bgim.png);
    background-size: cover;
}
.dat1{
    max-height:250px;
    height:170px;
    min-height:100px;
    max-width:250px;
    width:170px;
    min-width:100px;
}
