body{
    margin: 0;
    padding: auto;
    background-color: rgb(101, 238, 101);
}
/* Container */
#container{
    width: 100%;
    background-color: rgba(240, 248, 255, 0);
}
.main{
    width: 80%;
    margin: 0;
    background-color: rgba(240, 248, 255, 0);
    float: right;
}

/* Side Nav */
.sidenav {
    height: 100%; 
    width: 20%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: rgba(151, 253, 156, 0.904) ;
    overflow-x: hidden; 
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #e5e761;
    display: block;
  }
    .sidenav a:hover {
    color: #636409;
  }
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    color: #888a17;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  .sidenav a:hover, .dropdown-btn:hover {
    color: #53630d;    
  }

  .dropdown-btn{
      background-color: rgb(200, 255, 127);
  }
  .active {
    background-color: rgb(184, 194, 52);
    color: rgb(126, 145, 42);
  }
  .dropdown-container {
    display: none;
    background-color: #ceec5f;
    padding-left: 8px;
  }
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  } 
  @media screen and (max-height: 450px) {
    
  }


/* Header */
.header{
    height: 25vh;
    width: 100%;
    
    
}
.logo1{
    width: 25%;
    height: 100%;
    float: left;
}
.tymLine{
    width: 75%;
    height: 100%;
    float: right;
    background: no-repeat url(headM.png);
    background-size: cover;
    background-position: center;
}
.lg{
    float: right;
    text-align-last: right;
    text-decoration: none;
    color: black;
    margin-right: 10px; 
    vertical-align: bottom;
}
.lg:hover{
    text-decoration: none;
    color: rgb(49, 170, 19);
}
.hd{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Slider */
.slider{
    height: 60vh;
    width: 100%;
    
}

.sl{
    height: 60vh;
    width: 100%;
}

/* Content */
.content{
    /* height: 100vh; */
    width: 100%;
    color: #9fa12a;
    display: grid;
    grid-template-columns:auto auto auto;
    grid-column-gap: 3px;
    background-color: rgba(133, 235, 108, 0.719);
}
.content > div {
  
    text-align: justify;
    margin: 0;
    padding: 10px;
}

.c1, .c2, .c3, .c4{
  /* background-color: rgba(161, 234, 236, .7); */
}
.c1 , .c3{

  grid-column: 1/span 2;
}
.c5, .c6{
  grid-column: 1/ span 3;
}
.c5{
  /* background-color: darkgrey; */
}
.c6{
  /* background-color: blanchedalmond; */
}
.grd{
  display: grid;
  grid-column: auto;
  clear: right;
}
@media screen and (max-width: 600px) {
  .c1, .c2, .c3, .c4, .c5, .c6{
    grid-column: 1/ span 3;
  }
  
}
/* Footer */

footer{
  background-color: rgba(101, 238, 101, 0.87);
  color: #636409; 
}
li{
  
  color: #636409;
}

.footer-copyright{
  background-color: rgb(75, 192, 75);
  color: #575808;
}
.footer-copyright > a{
  color : #636409;
}
@media screen and (max-width: 600px) {
  .slider{height: 40vh;}
  .header{ height: 20vh;}
  .sl{ height: 40vh;}
  .content{ height: auto; grid-row-gap: 5px;}
  
}
@media screen and (max-width: 600px) {
  .sidenav { width: 23%;}
  .main{ width: 78%;}
  .dropdown-btn{ background-color: rgb(200, 255, 127);}
  .fa-caret-down{ visibility: hidden;}
  .dropdown-btn, .sidenav>a{font-size: .7em;}
  .dropdown-container > a{ font-size: .6em;}
  .rounded{ width: 170px; padding-left: 20px;}
  .c4, .c2{background-color: rgba(101, 238, 101, 0.521);}
  .c5{background-color: rgb(101, 238, 101);}
  .c6{background-color: rgb(101, 238, 101);}
  .c1 > p, .c2 > p, .c3 > p, .c4 > p, .c5 > p, .c6 > p{ font-size: 15px;color : #636409;}
  .c3>ul, .c4>ul {font-size: 15px; text-align: left;}
  .lg{font-size: 12px;}
}