h3{
  color: #096409;
}
h5{
  color: #096409;
}
body{
  margin: 0;
  padding: 0;
  /* background: url(MainBackground.png) no-repeat fixed center; */
}
body#background {
background: url('../../MainBackground.png') no-repeat 50% 50% fixed;
background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
-webkit-background-size: cover;
}
/* Container */
#container{
  width: 90%;
  background-color: rgba(240, 248, 255, 0);
}
.main{
  width: 78%;
  margin: 0;
  margin-right: 0px;
  background-color: rgb(255, 255, 255);
  float: right;
}

/* Side Nav */
.sidenav {
  height: 100%; 
  width: 20%; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  margin-left: 0px;
  float: left;
  background-color: rgba(219, 243, 220, 0.904) ;
  overflow-x: hidden; 
  padding-top: 0px;
}
.logo{
  width: 100%;
  height: 25vh;
}
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ecee88;
    display: block;
  }
    .sidenav a:hover {
    color: #096409;
  }
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    color: #1a9e09;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  .sidenav a:hover, .dropdown-btn:hover {
    color: #3e8813;    
  }

  .dropdown-btn{
      background-color: rgb(206, 235, 168);
  }
  .active {
    background-color: rgb(158, 243, 162);
    color: rgb(11, 102, 30);
  }
  .dropdown-container {
    display: none;
    background-color: #98f885;
    padding-left: 8px;
  }
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  } 
  @media screen and (max-height: 450px) {
    
  }


/* Header */
.header{
    height: 25vh;
    width: 100%;
    
    
}
.tymLine{
    width: 100%;
    height: 100%;
    /* float: right; */
    background: no-repeat url(../../headM.png);
    background-size: cover;
    background-position: center;
}
.lg{
    float: right;
    text-align-last: right;
    text-decoration: none;
    color: black;
    margin-right: 10px; 
    vertical-align: bottom;
}
.lg:hover{
    text-decoration: none;
    color: rgb(49, 170, 19);
}
.hd{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Slider */
.slider{
    height: 60vh;
    width: 100%;
    
}

.sl{
    height: 60vh;
    width: 100%;
}
.sl1{
  height: 25vh;
  width: 100%;
}

/* Content */
.content{
    /* height: 100vh; */
    width: 100%;
    color: #9fa12a;
    display: grid;
    grid-template-columns:auto auto auto;
    grid-column-gap: 3px;
    background-color: rgba(134, 235, 108, 0);
}
.content > div {
  
    text-align: justify;
    margin: 0;
    padding: 10px;
}

.c2, .c4{
  background-color: rgba(255, 255, 255, 0);
  border-left: 1px  dashed rgba(248, 252, 21, 0.856);
}
.c1 , .c3{

  grid-column: 1/span 2;
}
.c5, .c6{
  background-color: rgba(118, 245, 186, 0.267);
  grid-column: 1/ span 3;
}
.c5{
  /* background-color: darkgrey; */
  border-top: solid 1px rgba(101, 188, 238, 0.521) ;
}
.c6{
  /* background-color: blanchedalmond; */
  
  border-bottom: solid 1px rgba(101, 188, 238, 0.521) ;
}
.grd{
  display: grid;
  grid-column: auto;
  clear: right;
}
.c1-1{
  width: 74%;
  float: left;
}
.c1-2{
  width: 25%;
  float: right;
  padding-top: 50px;
}
.c1-2img{
  width: 100%;
  margin-top: 30px;
}
.c1-3{
  width: 100%;
  clear: both;
}
@media screen and (max-width: 600px) {
  .c1, .c2, .c3, .c4, .c5, .c6{
    grid-column: 1/ span 3;
  }
  
}
/* Footer */

footer{
  background-color: rgba(101, 238, 101, 0.459);
  color: #636409; 
}
li{
  
  color: #636409;
}

.footer-copyright{
  background-color: rgb(60, 187, 60);
  color: #3b3b06;
}
.footer-copyright > a{
  color : #636409;
}
@media screen and (max-width: 600px) {
  .logo{ height: 17vh;}
  .slider{height: 40vh;}
  .header{ height: 17vh;}
  .sl{ height: 40vh;}
  .content{ height: auto; grid-row-gap: 5px;}
  
}
@media screen and (max-width: 600px) {
  .sidenav { width: 22%;}
  .main{ width: 76%;}
  .dropdown-btn{ background-color: rgb(200, 255, 127);}
  .fa-caret-down{ visibility: hidden;}
  .dropdown-btn, .sidenav>a{font-size: .7em;}
  .dropdown-container > a{ font-size: .6em;}
  .rounded{ width: 170px; padding-left: 20px;}
  .c4, .c2, .c6{background-color: rgba(101, 238, 101, 0.521);}
  .c5{background-color: rgba(255, 255, 255, 0); border-top:none;}
  .c1 > p, .c2 > p, .c3 > p, .c4 > p, .c5 > p, .c6 > p{ font-size: 15px;color : #636409;}
  .c3>ul, .c4>ul {font-size: 15px; text-align: left;}
  .lg{font-size: 12px;}
  .c2, .c4{border-left: none;}
  .c1-1{width: 65%; text-align: left;}
  .c1-2{ width: 35%;}
}